---
---
<header class="h-screen flex flex-col justify-center items-center text-center">
  <h1 class="text-7xl md:text-9xl font-black uppercase">Ade Reskita</h1>
  <p class="text-xl md:text-2xl text-custom-gray mt-4">Principal iOS Engineer</p>
  <nav class="flex space-x-6 mt-8">
    <a href="mailto:ade.reskita@gmail.com" class="hover:text-custom-gray transition-colors">Email</a>
    <a href="https://linkedin.com/in/adereskita" target="_blank" class="hover:text-custom-gray transition-colors">LinkedIn</a>
    <a href="https://github.com/adereskita" target="_blank" class="hover:text-custom-gray transition-colors">GitHub</a>
  </nav>
</header>
